<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ea36fdeb86.js" crossorigin="anonymous"></script>
    <title>RAJA FERRY PORT : Login</title>
    <link rel="stylesheet" href="https://www.rajaferryport.com/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.rajaferryport.com/assets/css/custom.css">
    <link rel="stylesheet" href="https://www.rajaferryport.com/assets/css/login.css">
    <link rel="stylesheet" href="https://www.rajaferryport.com/assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutters min-vh-100">
            <!-- Left image -->
            <div class="col-lg-6 d-none d-lg-block">
                <div class="bg-login w-100 h-100"></div>
            </div>

            <!-- Right login form -->
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
                <div class="box-login w-75">
                    <div class="login-title">Welcome</div>
                    <div class="login-image"><i class="fa-solid fa-user"></i></div>
                   
                    <form method="post" id="form-login" name="form-login" enctype="multipart/form-data" action="https://www.rajaferryport.com/login" autocomplete="off">
                        <input type="hidden" name="_token" value="Vrez87Qwijvz8CpeKYqyqFjXacdrCUuiNhb5kFj4">
                        <input type="hidden" name="re" value="">
                        
                        <div class="form-group required">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="username" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group required">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="password" autocomplete="new-password">
                                <i class="show-pass fa fa-eye" onclick="togglePassword();"></i>
                            </div>
                        </div>

                        <div class="text-right mb-3">
                            <a href="https://www.rajaferryport.com/forgot-password">Forgot password <i class="fas fa-question"></i></a>
                        </div>

                        <button type="submit" class="btn btn-outline-primary btn-block" onclick="return checkError();">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center mt-3 mb-2">
            © 2025 All Rights Reserved.
        </div>
    </div>

    <script src="https://www.rajaferryport.com/assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://www.rajaferryport.com/assets/js/bootstrap.min.js"></script>
</body>
</html>
